godata-server/addons/
godata-server/artifacts
godata-server/config/cruise-config.xml
godata-server/db/
godata-server/logs
godata-server/plugins/bundled
godata-server/plugins/*.zip
godata-server/config/agentkeystore
godata-server/config/cipher
godata-server/config/cruise-config.xsd
godata-server/config/go_update_server.pub
godata-server/config/jetty.xml
godata-server/config/keystore
godata-server/config/logback-include.xml
godata-server/config/truststore
godata-node/
.ssh
